  .container {
    max-width: 960px;
  }
  main {
    min-height: calc(100vh - 215px);
  }

  .cont {
    overflow: auto;
    height: 200px;
  }

  .cont li{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
  }